@CHARSET "UTF-8";


#lado_esquerdo{
	float: left;	
	width: 20%;
}

#navigator{
	background-color: #FFFF99;
	border-radius: 10px;
	border-width: 3px;
	border-style: solid;
}

#navigator ul li{
	font-size: 20px;
	margin-bottom: 4px;
}

#navigator ul{
	list-style-type: none;
}

#navigator ul li a{
	text-decoration: none;
	color: black;
		
}

#navigator ul li a:hover {
	display:block;
	-moz-transform: rotate(-5deg);
	-webkit-transform: rotate(-5deg);
	transform: rotate(-5deg);
}

#espaco_pagina{
	float: right;
	width:79%;
}

#espaco_pagina h1,h2,h3,h4,h5,h6{
	margin: 0px;
	padding: 0px;
	text-align: center;
}
#conteudo{
	width:90%;
	margin: auto;
	background-color:#f5f5f0;
	min-height: 500px;
	border: solid 3px;
}

#painel_country_flags{
	text-align:center;
	border: solid 3px;
	border-radius: 10px;
	margin-top:3px;
	background-color: #f7db9e;
}

#painel_country_flags img{
	width:24.2px;
	height:18.3px;
	margin:5px;
	border: solid 2px black;
}

.userAndPasswordInput:focus{
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
  border: 1px solid rgba(0, 0, 0, 1);
}

	