<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

	<ui:composition template="/paginas/template/template.xhtml">
		<ui:define name="titulo">#{msg.inicio_titulo} - Rockdale Home</ui:define>
		<ui:define name="conteudo">
			<h1>#{msg.inicio_msg1}(<h:outputText value="#{inicioBean.limpadoresCasa.data}"><f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{initParam.sydneyTimeZone}"/></h:outputText>):</h1>
			<h3>#{inicioBean.formatadorNomes()}</h3>
			<br/>
			<br/>
			<h1>#{msg.inicio_msg2}(<h:outputText value="#{inicioBean.masc.data}"><f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{initParam.sydneyTimeZone}"/></h:outputText>):</h1>
			<h3>#{inicioBean.masc.p1.nome}</h3>
		</ui:define>
	</ui:composition>
</html>