<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<ui:composition template="/paginas/template/template.xhtml">
		<ui:define name="titulo">#{msg.limpban_titulo}</ui:define>
		
		<ui:define name="conteudo">
			<h:form>
			<h1>#{msg.limpban_titulo_body_masc}</h1>
			<p:dataTable value="#{limpezaBanheiroBean.listaMasc}" var="limpada" selectionMode="single" rowKey="#{limpada.id}"
				emptyMessage="#{msg.sem_informacao}">
			
				<p:column style="text-align:center;">
					<f:facet name="header">#{msg.data}</f:facet>
					<h:outputText value="#{limpada.data}">
						<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{initParam.sydneyTimeZone}"/>
					</h:outputText>
				</p:column>
				
				<p:column>
					<f:facet name="header">#{msg.pessoa}</f:facet>
					<h:outputText value="#{limpada.p1.nome}">
					</h:outputText>
				</p:column>
				
				<p:column style="text-align:center;">
					<f:facet name="header">#{msg.realizado}?</f:facet>
					<h:outputText value="#{limpada.limpado ? msg.sim : msg.nao}"></h:outputText>
					<h:graphicImage style="width:15px;height:15px;margin-left:5px;" library="imagens/svgs" name="#{limpada.limpado ? 'checked' : 'unchecked'}.svg"></h:graphicImage>
				</p:column>

				<p:column style="text-align:center;" rendered="#{request.isUserInRole('ROLE_ADMINISTRADOR')}">
					<f:facet name="header">#{msg.id}</f:facet>
					<h:outputText value="#{limpada.id}"></h:outputText>
				</p:column>
			</p:dataTable>
			</h:form>
		</ui:define>
	</ui:composition>
</html>

