<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml "
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	
	<ui:composition template="/paginas/template/template.xhtml">
		<ui:define name="titulo">Administração</ui:define>
		
		<ui:define name="conteudo">
		<h:panelGroup rendered="#{param.login_error != null}">
				<span style="font-color: red"> #{msg.msg_bad_login}</span>
				<br />
				<br />
			Motivo: #{SPRING_SECURITY_LAST_EXCEPTION.message}
		</h:panelGroup>
		<div style="margin-top:40px;">
				<div style="border: solid 3px; width: 40%; margin: 0 auto; padding-top:30px; padding-bottom: 30px; border-radius:10px; background-color: #82abed;">
				<form id="login" method="post" action="#{request.contextPath}/j_spring_security_check">
				<table style="margin: 0 auto;">
					<tbody>
						<tr>
							<td><input name="j_username" type="text" alt="Login" placeholder="#{msg.usuario}" value="" autocomplete="off" style="text-align:center;border-width: 4px;
							border-color: cornflowerblue;border-radius: 6px; border-style:double;font-size: 16px;" tabindex="1" class="userAndPasswordInput"></input></td>
						</tr>
						<tr>
							<td><input name="j_password" type="password" alt="#{msg.senha}" placeholder="#{msg.senha}" style="text-align:center;border-width: 4px;
							border-color: cornflowerblue;border-radius: 6px; border-style:double;font-size: 16px;" tabindex="2" class="userAndPasswordInput"></input></td>
						</tr>
						<tr>
							<td style="text-align:center;"><input value="#{msg.entrar}" type="submit" style="border: double 3px dodgerblue; border-radius: 5px;
    						font-size: 16px;background-color: floralwhite; padding-left: 10px; padding-right: 12px; box-shadow: 3px 3px 7px black;" tabindex="3"></input></td>
						</tr>						
					</tbody>
				</table>
				</form>
				</div>
				</div>
		</ui:define>
	</ui:composition>
</html>