<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<ui:composition template="/paginas/template/template.xhtml">
	<ui:define name="titulo">Administração</ui:define>
	<ui:define name="conteudo">
		<h:form>
			<div>
				<h:selectManyCheckbox value="#{testerBean.indexEscolhido}">
					<f:selectItems value="#{testerBean.semanas}" var="dia" itemValue="#{dia.valor}" itemLabel="#{msg[dia.nomeReduzidoEmMinusculo]}"/>
				</h:selectManyCheckbox>
				<h:commandButton value="Testar" actionListener="#{testerBean.testar}"/>
			</div>
		</h:form>
	</ui:define>
</ui:composition>
</html>