<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/facelets"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<ui:composition>
	
		<p:dialog modal="true" id="modalLoading" widgetVar="modalLoadingVar" width="100" height="70"
					closable="false" closeOnEscape="false" resizable="false" showHeader="false"
					style="text-align:center">
					<h:panelGrid columns="1" style="height:100%; text-align:center">
						<h:graphicImage library="gif" name="gears.gif" id="imagem"/>
					</h:panelGrid>
		</p:dialog>
		<script type="text/javascript">
			function abrirLoading(){
				PF('modalLoadingVar').show();
			}
			
			function fecharLoading(){
				PF('modalLoadingVar').hide();
			}
		</script>
	</ui:composition>
</html>