<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:f="http://xmlns.jcp.org/jsf/core"
	  xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

	<ui:composition>
		<nav id="navigator">
			<ul>
				<li><a href="#{request.contextPath}/paginas/publicas/index.jsf">#{msg.menu_navegacao_inicio}</a></li>
				<li><a href="#{request.contextPath}/paginas/publicas/limpeza_casa.jsf">#{msg.menu_navegacao_limp_casa}</a></li>
				<li><a href="#{request.contextPath}/paginas/publicas/limpeza_banheiro_fem.jsf">#{msg.menu_navegacao_limp_banh_fem}</a></li>
				<li><a href="#{request.contextPath}/paginas/publicas/limpeza_banheiro_masc.jsf">#{msg.menu_navegacao_limp_banh_masc}</a></li>
				<li><a href="#{request.contextPath}/paginas/publicas/login.jsf">#{msg.menu_navegacao_administracao}</a></li>
			</ul>
		</nav>
	</ui:composition>
</html>