<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://xmlns.jcp.org/jsf/html"
		xmlns:f="http://xmlns.jcp.org/jsf/core"
		xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<f:view locale="#{idiomaBean.local}">
		<h:head>
			<title><ui:insert name="titulo">Rockdale Home</ui:insert></title>
			<h:outputStylesheet library="css" name="pack.css"></h:outputStylesheet>
		</h:head>
		<h:body>
			
			<div id="lado_esquerdo">
				<ui:include src="/paginas/template/menu-navegacao.xhtml"></ui:include>
				
					<h:form id="painel_country_flags">
						<h4>#{msg.idioma_nome}</h4>
						<h:commandLink actionListener="#{idiomaBean.setIdioma('pt_BR')}">
							<h:graphicImage name="brazil.svg" library="imagens/flags"></h:graphicImage>
						</h:commandLink>
						<h:commandLink actionListener="#{idiomaBean.setIdioma('en_US')}">
							<h:graphicImage name="usa.svg" library="imagens/flags"></h:graphicImage>
						</h:commandLink>
					</h:form>
				
			</div>
			<div id="espaco_pagina">
				<div id="conteudo">
					<ui:insert name="conteudo">
						
					</ui:insert>
				</div>
			</div>
			<div id="espacoModal">
				<ui:include src="/paginas/template/loading.xhtml"></ui:include>
			</div>
		</h:body>
	</f:view>
</html>