<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

	<ui:composition template="/paginas/template/template.xhtml">
		<ui:define name="titulo">Administração</ui:define>
		<ui:define name="conteudo">
			<h:form>
				<p:fieldset id="fieldLimpezaNaoFeita" toggleable="true" collapsed="true" legend="#{msg.legenda_informar_nao_limpeza}">
					<table>
						<tbody>
							<tr>
								<td>
									<h:outputText value="#{msg.lugar}:"/>
									<h:selectOneMenu value="#{aplicacaoBean.lugarLimpezaNaoFeita}" valueChangeListener="#{aplicacaoBean.buscarDataLugarEscolhido}">
										<f:selectItems value="#{aplicacaoBean.itensComboLugaresLimpezaNaoFeita}"/>
										<f:ajax event="change" render="comboDataLimpezaNaoFeita"/>
									</h:selectOneMenu>
								</td>
								<td>
									<h:outputText value="#{msg.data}:"/>
									<h:selectOneMenu id="comboDataLimpezaNaoFeita" value="#{aplicacaoBean.indexComboDataLimpezaNaoFeita}"
										style="min-width:70px;">
										<f:selectItems value="#{aplicacaoBean.itensComboDataLimpezaNaoFeita}"/>
									</h:selectOneMenu>
								</td>
								<td>
									<h:selectBooleanCheckbox value="#{aplicacaoBean.repetirProximaSemana}"/>#{msg.msg_proxima_semana}?
								</td>
								<td>
									<h:commandButton value="#{msg.informar}" actionListener="#{aplicacaoBean.informarNaoLimpeza}"/>
								</td>
							</tr>
						</tbody>
					</table>
				</p:fieldset>
				<p:fieldset id="fieldLimpezaFeita" toggleable="true" collapsed="true" legend="#{msg.legenda_informar_limpeza}">
					<table>
						<tbody>
							<tr>
								<td>
									<h:outputText value="#{msg.lugar}:"/>
									<h:selectOneMenu value="#{aplicacaoBean.lugarLimpezaFeita}">
										<f:selectItems value="#{aplicacaoBean.itensComboLugaresLimpezaNaoFeita}"/>
									</h:selectOneMenu>
								</td>
								<td>
									<h:outputText value="#{msg.id} :"/>
									<h:inputText value="#{aplicacaoBean.idLimpezaFeita}"/>
								</td>
								<td>
									<h:commandButton value="#{msg.informar}" actionListener="#{aplicacaoBean.informarLimpeza}"/>
								</td>
							</tr>
						</tbody>
					</table>
				</p:fieldset>
				<p:fieldset collapsed="true" legend="#{msg.legenda_gerenciador_sms}" toggleable="true">
					<table>
						<tbody>
							<tr>
								<td>
									#{msg.btn_ligar_desligar}
									<h:commandButton value="#{msg.ligar}" rendered="#{!aplicacaoBean.gerenciador.ligado}" actionListener="#{aplicacaoBean.ligarGerenciador}"/>
									<h:commandButton value="#{msg.desligar}" rendered="#{aplicacaoBean.gerenciador.ligado}" actionListener="#{aplicacaoBean.desligarGerenciador}"/>
									<span>Status: #{aplicacaoBean.gerenciador.ligado ? msg.ligado:msg.desligado}</span>
									<p:commandButton value="#{msg.btn_abrir_lista_msg}" onclick="abrirLoading();" oncomplete="fecharLoading(); PF('modalListaMsgVar').show();">
										<p:ajax event="click" update="idDoModalListaMsg" />
									</p:commandButton>
								</td>
							</tr>
							<tr>
								<td>
									#{msg.inpt_qt_max_msg}
									<h:inputText disabled="#{aplicacaoBean.gerenciador.ligado}" 
									pt:type="number" pt:min="1" pt:max="10" value="#{aplicacaoBean.qtMaximaMensagens}"/>
								</td>
							</tr>
							<tr>
								<td>
									#{msg.combo_list_day}
									<h:selectManyCheckbox value="#{aplicacaoBean.diasDaSemanaEnviarSMS}" 
										disabled="#{aplicacaoBean.gerenciador.ligado}">
										<f:selectItems value="#{aplicacaoBean.itensDiasDaSemanaEnviarSMS}" var="item" itemValue="#{item.valor}" itemLabel="#{msg[item.codI18n]}"/>
									</h:selectManyCheckbox>
								</td>
							</tr>
							<tr>
								<td>
									#{msg.inpt_hora_enviar}
									<p:calendar timeOnly="true" timeZone="#{initParam.sydneyTimeZone}" pattern="HH:mm"
									disabled="#{aplicacaoBean.gerenciador.ligado}" value="#{aplicacaoBean.horaEnviarMsg}"/>
								</td>
							</tr>
						</tbody>
					</table>
				</p:fieldset>
				<h:commandButton value="Botão testador" actionListener="#{aplicacaoBean.testarAction}">
				</h:commandButton>
				<ui:include src="/paginas/privadas/lista_mensagens.xhtml">
					<ui:param name="modalListMens" value="idDoModalListaMsg"></ui:param>
					<ui:param name="modalListMensVar" value="modalListaMsgVar"></ui:param>
				</ui:include>
			</h:form>
		</ui:define>
	</ui:composition>
</html>