<!DOCTYPE html>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<p:dialog modal="true" closable="true" widgetVar="#{modalListMensVar}" id="#{modalListMens}">
		<p:dataTable var="mensagem"
			value="#{aplicacaoBean.gerenciador.listaAtualizadaDeMsgEnviadas}"
			emptyMessage="#{msg.empty_table_msg}">

			<p:column>
				<f:facet name="header">SID</f:facet>
				<h:outputText value="#{mensagem.sid}" />
			</p:column>
			<p:column>
				<f:facet name="header">#{msg.data}</f:facet>
				<h:outputText value="#{aplicacaoBean.gerenciador.dateTimeToString(mensagem.dateSent)}">
					
				</h:outputText>
			</p:column>
			<p:column>
				<f:facet name="header">#{msg.para}</f:facet>
				<h:outputText value="#{mensagem.to}" />
			</p:column>
			<p:column>
				<f:facet name="header">Status</f:facet>
				<h:outputText value="#{mensagem.status}" />
			</p:column>

		</p:dataTable>
	</p:dialog>
</ui:composition>